[submodule "2x4_FoundryTests/lib/forge-std"]
	path = 2x4_FoundryTests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2x5_FoundryCheatcodes/lib/forge-std"]
	path = 2x5_FoundryCheatcodes/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
